<html>
  <head>
  <link rel="stylesheet" type="text/css" href="custom.css">
  </head>
  <body>
    <header>
    <%= erb :'partials/nav', layout: false %>
    </header>
    <main class="theme">
      <%=yield%>
    </main>
  </body>
</html>
