#noneall a{
  text-decoration: none;
  text-align: justify;
  color:aqua;
}

#Link{
  text-decoration: none;
}

#text {
 text-align: left;
 margin-right: 50px;
 margin-left: 30px;
}

/*NAVBAR business
*/

.navbar {
  border: none;
  /* box-shadow: 0 1px 20px 0 rgba(0,0,0,.1); */
  padding-left: 10px;
  padding-right: 10px;
  font-weight: 800;
  background-color: lightgray;
  padding-bottom: 0;
  padding-top: 0;
}

.navbar-nav {
padding-top: 10px;
}

.navbar-brand:hover {
  color: darkblue;
}

.nav-link:hover {
  color: darkblue;
}
.navbar-nav {
padding-top: 10px;
}

/* END NAVBAR business
*/

.material {
  margin-left: 20px;
  padding-top: 20px;
}

.elements{
  margin-bottom:30px;
  text-decoration: none;
}

body {
  background-color:#d3d3d3;
}

/* Theme toggle business
*/

#toggle-btn {
  padding: 0.5em;
  font-weight: 700;
  border-radius:5%;
}

.night-theme-img {
  content:url('assets/crescent-moon.png');
  height:25px;
  width:25px;
}

.day-theme-img {
  content:url('assets/bright-button.png');
  height:25px;
  width:25px;
}

#toggle-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.dark-mode-toggle {
  background: rgb(67, 67, 78);
  color: #fff;
}

.dark-mode-toggle-light {
  background: white;
  border: none;
}

#theme {
  width: 100vw;
  height: 100vh;
}

.dark-mode-theme {
  background: rgb(53, 53, 58);
  color: #fff;
}
