#noneall a{
  text-decoration: none;
  text-align: justify;
  color:aqua;
}

#Link{
  text-decoration: none;
}

#text {
 text-align: left;
 margin-right: 50px;
 margin-left: 30px;
}

.navbar {
  border: none;
  box-shadow: 0 1px 20px 0 rgba(0,0,0,.1);
  padding-left: 10px;
  padding-right: 10px;
}

.material {
  margin-left: 20px;
  padding-top: 20px;
}

.elements{
  margin-bottom:30px;
  text-decoration: none;
}

body {
  background-color:rgb(237, 237, 237);
}

/* Theme toggle business
*/

#toggle-btn {
  padding: 0.5em;
  font-weight: 800;
}

.night-theme-img {
  content:url('assets/crescent-moon.png');
  height:25px;
  width:25px;
}

.day-theme-img {
  content:url('assets/bright-button.png');
  height:25px;
  width:25px;
}

#toggle-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.dark-mode-toggle {
  background: rgb(67, 67, 78);
  color: #fff;
}

.dark-mode-toggle-light {
  background: white;
}

#theme {
  width: 100vw;
  height: 100vh;
}

.dark-mode-theme {
  background: rgb(53, 53, 58);
  color: #fff;
}
