.navbar {
  border: none;
  box-shadow: 0 1px 20px 0 rgba(0,0,0,.1);
  padding-left: 10px;
  padding-right: 10px;
}

.material {
  margin-left: 20px;
  padding-top: 20px;
}

body {
  background-color:rgb(106, 156, 31);
}

/* Theme toggle business
*/

#toggle-btn {
  padding: 0.5em;
  font-weight: 800;
}

#theme-img{
  content:url('assets/crescent-moon.png');
}

#toggle-btn:hover {
  cursor: pointer;
  opacity: 0.8;
}

.dark-mode-toggle {
  background: rgb(44, 48, 101);
  color: #fff;
}

#theme {
  width: 100vw;
  height: 100vh;
}

.dark-mode-theme {
  background: rgb(26, 28, 54);
  color: #fff;
}

#theme-img {

}
