<div class="material">
  Hello Again second website from the views folder<br>
  Trying to get style sheet working - Got that working<br>
  Insert dummy enpoints for documentation<br> 
  Going to add the dark theme toggle...<br>
  Now will add its functionality!<br>
  Put an image png inside the toggle button
</div>