<div class="material">
  Hello Again second website from the views folder<br>
  Trying to get style sheet working - Got that working<br>
  Insert dummy enpoints for documentation<br> 
  Going to add the dark theme toggle...<br>
  Now will add its functionality!<br>
  Put an image png inside the toggle button


  <div align="center">
    <div class="github-card" data-github="BenjaminNeustadt/OPEN-BOOK_new" data-width="400" data-height="" data-theme="default"></div>
    <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>

    <div class="github-card" data-github="BenjaminNeustadt/chitter-challenge" data-width="400" data-height="" data-theme="default"></div>
    <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>

    <div class="github-card" data-github="BenjaminNeustadt/MakersBNB" data-width="400" data-height="155" data-theme="default"></div>
    <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>

    <div class="github-card" data-github="BenjaminNeustadt/OldPhone" data-width="400" data-height="155" data-theme="default"></div>
    <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
    
    <div class="github-card" data-github="BenjaminNeustadt/Code-Quality-Ruby" data-width="400" data-height="155" data-theme="default"></div>
    <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>

    <div class="github-card" data-github="BenjaminNeustadt/acebook-node" data-width="400" data-height="155" data-theme="default"></div>
    <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
  </div>

</div>