<div class="material">
 
  <div class="elements">

    <a>
      <h3>Hi 👋, welcome to my personal site.</h3>
      I'm a <b>junior software engineer</b>, career-changer, and graduate of <a href="https://makers.tech/" id="Link">Makers</a>.
      Working autonomously and in groups (following agile methodologies),<br>
      I used various web-frameworks to build web-applications, using different testing-frameworks (such as <a href="https://relishapp.com/rspec"id="Link">RSpec<a/>) to ensure code quality.<br>
      At the bottom of this page are some of the <a href='#projects' id="Link">projects</a> I completed throughout my training.<br><br>

      <i>Throughout my training I learnt:</i><br>
      - the <b>foundations of object oriented programming</b> in two dynamically typed scripting languages: <a href="https://www.ruby-lang.org/en/" id="Link">Ruby</a>, and <a href="https://javascript.info/js" id="Link">JavaScript</a>.<br>
      - best practice methodology such as <b>test driven development</b>.<br>
      - design concepts, such as <b>SOLID principles</b>.<br><br>
      
      I also have a bunch of my documentation journalling <a href='/documentations' id="Link">here</a>.<br>
      Please take a <a href='/documentation' id="Link">look</a>, maybe you'll find something of interest.
    </a>

  </div>

<div align="center" id="projects">

  <div class="elements" style=" float: left;">
    <div class="github-card" data-github="BenjaminNeustadt/OPEN-BOOK_new" data-width="400" data-height="" data-theme="default"></div>
    <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>

    <div class="github-card" data-github="BenjaminNeustadt/chitter-challenge" data-width="400" data-height="" data-theme="default"></div>
    <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>

    <div class="github-card" data-github="BenjaminNeustadt/MakersBNB" data-width="400" data-height="155" data-theme="default"></div>
    <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>

    <div class="github-card" data-github="BenjaminNeustadt/OldPhone" data-width="400" data-height="155" data-theme="default"></div>
    <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
    
    <div class="github-card" data-github="BenjaminNeustadt/Code-Quality-Ruby" data-width="400" data-height="155" data-theme="default"></div>
    <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>

    <div class="github-card" data-github="BenjaminNeustadt/acebook-node" data-width="400" data-height="155" data-theme="default"></div>
    <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
  </div>

</div>

  <div>
    <center> 
      This site is a work in progress...<br>
      I have some exciting ideas I'd like to implement on it, so don't hesitate to stop by every now and again to see what might be different.
    </center>
  </div>
   
</div>