<div class="material">

  <div class="elements">

      <h3 style="margin-bottom:30px;">Hi 👋, welcome to my personal site.</h3>

    <a>
      I'm a <b>junior software engineer</b>, career-changer, and graduate of <a href="https://makers.tech/" id="Link">Makers</a>.<br>
      Throughout my training I have worked autonomously, and in groups (using Agile methods)<br> in order to build web-applications, using testing-frameworks  to ensure code quality.<br>
      Below are some of the <a href='#projects' id="Link">projects</a> I completed throughout my training.<br><br>

      They cover some of the following:<br>
      - the <b>foundations of object oriented programming</b> in <a href="https://www.ruby-lang.org/en/" id="Link">Ruby</a>, and <a href="https://javascript.info/js" id="Link">JavaScript</a>.<br>
      - best practice methodology such as <b>test driven development</b> (i.e. <a href="https://relishapp.com/rspec"id="Link">RSpec<a/>).<br>
      - design concepts, such as <b>SOLID principles</b>.<br><br>

      I also have a bunch of my documentation journalling <a href='/documentations' id="Link">here</a>.<br>
    </a>

  </div>

<div align="center" id="projects">

  <div class="elements" style=" float: left;">
    <div class="github-card" data-github="BenjaminNeustadt/OPEN-BOOK_new" data-width="400" data-height="" data-theme="default"></div>
    <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>

    <div class="github-card" data-github="BenjaminNeustadt/chitter-challenge" data-width="400" data-height="" data-theme="default"></div>
    <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>

    <div class="github-card" data-github="BenjaminNeustadt/MakersBNB" data-width="400" data-height="155" data-theme="default"></div>
    <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>

    <div class="github-card" data-github="BenjaminNeustadt/OldPhone" data-width="400" data-height="155" data-theme="default"></div>
    <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>

    <div class="github-card" data-github="BenjaminNeustadt/Code-Quality-Ruby" data-width="400" data-height="155" data-theme="default"></div>
    <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>

    <div class="github-card" data-github="BenjaminNeustadt/acebook-node" data-width="400" data-height="155" data-theme="default"></div>
    <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
  </div>

</div>

  <div>
    <center>
      This site is a work in progress...<br>
    </center>
  </div>

</div>
