<div class="material">

  <div id="text" style="margin-bottom:20px;">
    Wow - so much documentation 🤩<br>

    Welcome to my ever ongoing documentation journalling.<br> It's rightfully titled <b><i>Notes As We Go</i></b>, which was chosen by my Ruby mentor.<br> I specify "Ruby" mentor ("programming mentor" would probably be more fitting) because this first iteration is especially focused on Ruby language and it's frameworks.<br><br>
    I use a plain text markup language called <a href="https://asciidoc.org/" id="Link">AsciiDoc</a> to journal and arrange all technical content that I find useful.
    I then use a <a href="https://asciidoctor.org/" id="Link">Ruby-base text processor<a/> for compiling and parsing everything into a document model. It's a really great tool that allows us to output different formats according to our needs.
    Currently, the material is only available on this page, although I will very soon include a <i>download PDF</i> button within each section.<br><br>
    Not all of these notes are my own, some of this content is garnered from other places - links to the original sources are included in line with the text. <br><br>

    <mark><b>Disclaimer:</b> These notes are a work in progress, certain passages are not formatted as they would be. Proceed with caution and forgiveness.</mark><br>
    </div>

  <div style="margin-left:20px;margin-right:35px;">
    <iframe style="align:left" src='notes/commands.html'width="100%" height="100%" frameborder="0"></iframe>
  </div>

</div>
