<div class="material">
<div id="text">
  Wow - so much documentation 🤩<br>

Welcome to my ever ongoing documentation journalling.<br> It's rightfully titled <b><i>Notes As We Go</i></b>, which was chosen by my Ruby mentor.<br><br>
I use a plain text markup language called <a href="https://asciidoc.org/" id="Link">AsciiDoc</a> to journal and arrange all technical content that I find useful.
I then use a Ruby-base text processor for compiling and parsing everything into document model. It's a really great tool that allows us to output different formats according to our needs.
Currently, the material is only available on this page, although I will very soon include a <i>download PDF</i> button within each section.
Not all of these notes are my own, some of this content is garnered from other places - links to the original sources are included in line with the text. 
      <br>
  </div>
</div>